body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .accent-dark {
  color: #2e2f42;
}

.logo .accent-light {
  color: #f4f4fd;
}

/* Address */

.address {
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Link */

.link {
  font-weight: 500;
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

/* Button */

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc((100% - 332px) / 2);
  align-items: center;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu-link {
  display: inline-block;
  padding: 24px 0;
}

.header-address {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* hero-section */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  width: 100%;
  margin: 0 auto 48px;
}

/* advantages-section */

.advantages-list {
  display: flex;
  /* flex-wrap: wrap;
  max-width: 1128px;
  margin: 0 auto; */
  gap: 24px;
}

.advantage-item {
  flex-basis: calc((100% - 72px) / 4);
}

.advantage-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* team-section */

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  margin: 0 auto;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  text-align: center;
  padding: 32px 0;
}

.team-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* portfolio-section */
.portfolio-title {
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  row-gap: 48px;
  column-gap: 24px;
  margin: 0 auto;
}

.portfolio-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
